 :root {
  --grid-row: 1;
  --grid-col: 1;
}
 
 #container-div {
      display: grid;
      grid-template-columns: repeat(var(--grid-row), 1fr);
      grid-template-rows: repeat(var(--grid-col), 1fr);
      width: 900px;
      height: 900px;
      background-color: "orange";
  }

  div {

     border: 1px solid #000;
  
  }

 .blue {
   background-color: blue;
 }