:root {
  --grid-row: 1;
  --grid-col: 1;
}

body {
  margin: 0;
  background-color: #03001c;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  font-family: "Nova Square", cursive;
  font-size: 25px;
  color: #11eedb;
}

button {
  height: 45px;
  width: 125px;
  border-radius: 7px;
  background-color: #1a2131;
  color: white;
  font-weight: bolder;
  font-family: "Nanum Pen Script", cursive;
  font-size: 25px;
  box-shadow: 0 0 20px rgba(182, 234, 218, 0.4);
  border-color: #11eedb;
}

button:hover {
  background-color: white;
  box-shadow: 0 0 25px 1px rgba(211, 211, 211);
  color: black;
  cursor: pointer;
}

button:active {
  background-color: #1a2131;
  box-shadow: 0 0 5px 3px rgba(211, 211, 211);
  color: white;
  cursor: pointer;
}

.header {
  grid-area: header;
  background-color: #1a2131;
  color: #11eedb;
  font-family: "Nova Square", cursive;
  font-size: 2rem;
  width: 100vw;
}

.sidebar {
  grid-area: sidebar;
  background-color: #1a2131;
  height: 100vh;
  padding: 1rem;
  text-align: center;
}

.pen-btn {
  display: inline-block;
  margin: 1em;
}

.grid-btn {
  display: inline-block;
  margin: 4px;
}

#btn-shadow {
  color: rgb(165, 163, 163);
}

.r {
  color: red;
}

.a {
  color: yellowgreen;
}

.i {
  color: blue;
}

.n {
  color: blueviolet;
}

.b {
  color: violet;
}

.o {
  color: orange;
}

.w {
  color: green;
}

.rows-and-columns {
  font-family: "Nova Square", cursive;
  color: white;
  font-size: 2em;
}

.main-container {
  display: grid;
  grid-template-columns: 20% 79%;
  grid-auto-rows: minmax(10%, auto);
  grid-template-areas:
    "header header"
    "sidebar nav"
    "sidebar content"
    "footer footer";
  text-align: center;
  height: 100%;
  box-sizing: border-box;
}

.content-container {
  background-color: white;
  width: 900px;
  height: 900px;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: 8rem;
  margin-top: 5rem;
  box-shadow: 0 0 50px rgb(180, 180, 180);
  border-color: #b6eada;
}

.content {
  display: grid;
  position: absolute;
  border: 1px solid rgb(150, 150, 150);
  grid-template-columns: repeat(var(--grid-row), 1fr);
  grid-template-rows: (var(--grid-col), 1fr);
  width: 900px;
  height: 900px;
  top: 0;
  left: 0;
}

.row {
  border: 1px solid rgb(200, 200, 200);
  background-color: "white";
}
